*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --btn: #004b95;
  --back: rgb(255, 253, 253);
  --btn-grad: linear-gradient(to right, #1274d6, var(--btn));
}
.app{
  background-color: var(--back);
  min-height: 100vh;
}

.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.1rem 2rem;
  transition: 1s ease;
  width: 100%;
  place-content: center;
  z-index: 10000;
}

.mobileNav{
  display: flex;
  gap: 10px;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  height: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
  width: 100vw;
  position: absolute;
  flex-direction: column;
  margin-top: 4rem;
  z-index: 200;
}

.open{
  animation: open-nav .5s forwards;
}
.close{
  animation: close-nav .5s forwards;
}

.mobileNav li{
  list-style-type: none;
}

.ham{
  display: none;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  transition: .5s ease-in-out;
}
.ham div{
  height: 3px;
  margin-bottom: 5px;
  width: 2rem;
  transition: .5s ease-in-out;
  background-color: var(--btn);
}

.x div:first-child{
  animation: toggle-one .5s forwards;
}
.x div:nth-child(2){
  display: none;
}
.x div:last-child{
  animation: toggle-two .5s forwards;
}
.close-x div:first-child{
  animation: toggle-one-x .5s forwards;
}
.close-x div:nth-child(2){
  display: block;
}
.close-x div:last-child{
  animation: toggle-two-x .5s forwards;
}

.nav-scrolled{
  position: sticky;
  top: 0;
  animation: navBar .55s linear;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}
.nav-bar .logo{
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.nav-bar .logo:active{
  transform: scale(98%);
}
.nav-bar .logo .p{
  font-size: 1rem;
  font-weight: 480;
}
.nav-bar .logo img{
  width: 1.88rem;
}

.urls{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  position: relative;
  gap: 4rem;
  font-size: .85rem;
}

.marker{
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  opacity: 0;
  margin-top: 2.2rem;
  width: 17.53rem;
  animation-delay: .5s;
}

.marker .big{
  width: 5px;
  height: 4px;
  background-color: var(--btn);
  border-radius: 50%;
  animation: ball 1s infinite;
  animation-delay: .25s;
}
.marker .small{
  width: 1.25rem;
  height: 4px;
  background-color: var(--btn);
  border-radius: 1rem;
}

.btns{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.btns .btn-con{
  background-image: var(--btn-grad);
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 25px #39a0fa52;
  font-size: .9rem;
  padding: .5rem 2rem;
  height: fit-content;
  border-radius: 1.55rem;
}

.btns .btn-con:active{
  transform: scale(90%);
}

.urls{
  color: #000;
}

.urls li a{
  cursor: pointer;
  color: #000;
  opacity: .5;
  font-weight: 450;
  text-decoration: none;
}

.urls li a:hover{
  color: #3c9df1;
}
.urls li a:active{
  opacity: 1;
  transform: scale(90%);
}

.urls li.active a{
  opacity: 1;
  color: var(--btn);
  font-weight: 450;
  font-size: .9rem;
}

.card-mid{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-bottom: 3rem;
}

.midCard{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.finder{
  position: absolute;
  bottom: -1rem;
}

.finder .find{
  border: none;
  border-radius: .6rem;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  width: 30rem;
  font-size: .85rem;
  padding: 15px 1rem;
  outline: none;
}

.finder .find:active{
  transform: scale(99%);
}
.midCard .imgDiv{
  height: 8rem;
  width: 92vw;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 0 auto;
}
.midCard .imgDiv img{
  width: 100%;
}

.midCard .txt{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.midCard .txt img{
  filter: grayscale(100%);
  mix-blend-mode: screen;
  width: 2.5rem;
}

.midCard .txt span{
  font-size: 1.5rem;
  font-weight: 450;
  color: #fff;
  margin-top: 1.5rem;
}

.categories{
  margin: 1rem auto 0;
  width: fit-content;
}

.categories ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
}

.categories ul li{
  font-size: .9rem;
  transition: .25s ease-in-out;
  padding: 8px 2rem;
  border-radius: 2rem;
  text-align: center;
  cursor: pointer;
}

.categories ul li:active{
  transform: scale(90%);
}

.categories ul li.active{
  background-color: var(--btn);
  color: #fff;
}

/* Main Blog body */
.main{
  padding: 1.1rem 2rem;
}

.main .main-card{
  display: grid;
  place-items: center;
  grid-template-columns: .7fr 1fr;
  gap: 20px;
}
.main .main-card .maincard-img{
  max-height: 23rem;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  display: flex;
  border-radius: 1.55rem;
  align-items: flex-start;
}
.main .main-card .maincard-img .hover-cover{
  position: absolute;
  height: 100%;
  display: flex;
  transition: .5s ease-in-out;
  align-items: center;
  opacity: 0;
  justify-content: center;
  width: 100%;
}
.main .main-card .maincard-img:hover .hover-cover{
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.6);
}
.main .main-card .maincard-img .hover-cover .img{
  max-width: 3.4rem;
  transform: rotate(-45deg);
}

.main .main-card .maincard-img .hover-cover .img:active{
  transform: rotate(-50deg) scale(90%);
}

.main .main-card .maincard-img img{
  width: 100%;
  min-height: 100%;
}

.main .main-card .maincard-text .tag{
  color: var(--btn);
  cursor: pointer;
  font-size: .85rem;
  margin-bottom: 10px;
}
.main .main-card .maincard-text .tag:active{
  transform: scale(99%);
}
.main .main-card .maincard-text .title:active{
  transform: scale(99%);
}
.main .main-card .maincard-text .title{
  font-size: 2.55rem;
  max-width: 90%;
  line-height: 2.8rem;
  cursor: pointer;
  margin-bottom: 10px;
  font-weight: 500;
}

.main .main-card .maincard-text .preview-txt{
  font-size: .88rem;
  max-width: 85%;
  opacity: .8;
  font-weight: 450;
}

.author{
  display: flex;
  margin: 1rem 0;
  align-items: center;
  gap: 20px;
}
.author:active{
  transform: scale(99%);
}
.author .auth-img{
  max-width: 4rem;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
}
.author .auth-img:active, .author .auth-name:active{
  transform: scale(98%);
}
.author .auth-img img{
  width: 100%;
}
.author .auth-name{
  font-weight: 450;
  cursor: pointer;
}

.author .post-date{
  font-size: .85rem;
  font-weight: 450;
  opacity: 0.7;
}

.grid{
  display: grid;
  padding: 1.1rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
}

.grid .blog-grid{
  display: grid;
  width: 100%;
  overflow: hidden;
}
.grid .blog-grid .blog-grid-img{
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-start;
  border-radius: 1.55rem;
  max-height: 18rem;
}
.grid .blog-grid .blog-grid-img .hover-cover{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transition: .5s ease-in-out;
  opacity: 0;
  background-color: #000;
  width: 100%;
}

.grid .blog-grid .blog-grid-img .hover-cover img:active{
  transform: rotate(-50deg) scale(93%);
}

.grid .blog-grid .blog-grid-img .hover-cover img{
  cursor: pointer;
  width: 3.4em;
  transform: rotate(-45deg);
  max-height: 3.4rem;
  min-height: 3.4rem;
}
.grid .blog-grid .blog-grid-img:hover .hover-cover{
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
}

.grid .blog-grid .blog-grid-img img{
  width: 100%;
  min-height: 19.8rem;
}

.grid .blog-grid .blog-info{
  padding: 1rem;
}
.grid .blog-grid .blog-info .tag{
  color: var(--btn);
  cursor: pointer;
  font-size: .85rem;
  margin-bottom: 10px;
}

.grid .blog-grid .blog-info .tag:active{
  transform: scale(98%);
}

.grid .blog-grid .blog-info .title{
  font-size: 1.25rem;
  font-weight: 450;
  cursor: pointer;
  margin-bottom: 10px;
  line-height: 1.7rem;
}

.grid .blog-grid .blog-info .title:active{
  transform: scale(95%);
}

.grid .blog-grid .blog-info .story{
  opacity: .7;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}


.grid .blog-grid .blog-info .author{
  display: flex;
  margin: 1rem 0;
  align-items: center;
  gap: 15px;
}
.grid .blog-grid .blog-info .author .auth-img{
  max-width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.grid .blog-grid .blog-info .author .auth-img img{
  width: 100%;
}
.grid .blog-grid .blog-info .author .auth-name{
  font-weight: 450;
  font-size: .9em;
  cursor: pointer;
}

.grid .blog-grid .blog-info .author .post-date{
  font-size: .75rem;
  font-weight: 450;
  opacity: 0.7;
}

.footer{
  padding: 1.1rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "logo link social";
  gap: 20px;
  background-color: var(--btn);
  color: #fff;
}

.footer .logo{
  grid-area: logo;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 10px;
}
.footer .logo:active{
  transform: scale(98%);
}
.footer .logo .p{
  font-size: 1rem;
  font-weight: 480;
}
.footer .logo img{
  width: 1.88rem;
}

.link-list{
  display: flex;
  grid-area: link;
  list-style-type: none;
  gap: 5rem;
  font-size: .85rem;
  align-items: center;
  justify-content: center;
}

.link-list li{
  cursor: pointer;
  opacity: .8;
}
.link-list li:hover{
  opacity: 1;
  transform: scale(110%);
}

.socials{
  display: flex;
  grid-area: social;
  gap: 10px;
  justify-content: flex-end;
}

.socials img{
  max-width: 1.5rem;
  border-radius: .5rem;
  cursor: pointer;
  filter: invert(1);
}

.socials img:active{
  transform: scale(95%);
}

.mininav{
  background-color: rgb(39, 39, 39);
  padding: 10px 2rem;
  font-size: .85rem;
  display: flex;
  gap: 10px;
  color: #fff;
}
.mininav span{
  cursor: pointer;
  font-weight: 450;
}

.mininav span:active{
  transform: scale(105%);
}

.body{
  border: 20px solid #212135;
}

.head-part{
  margin: -9px;
  background-color: var(--btn);
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.head-part img{
  width: 100%;
}

.about{
  margin: -9px;
  background-color: var(--btn);
  align-items: center;
  color: #fff;
  display: flex;
  padding: 5rem;
  flex-direction: column;
}

.about .title{
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.about p{
  max-width: 40rem;
  text-align: center;
}

.body .post-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  font-size: 1.25rem;
  width: 55rem;
  max-width: 90%;
  margin: 0 auto;
}

.body .post-body a{
  text-decoration: none;
  color: var(--btn);
}

.body .post-body p{
  text-align: justify;
  font-weight: 400;
  line-height: 2.25rem;
  margin-bottom: 2.25rem;
}

.body .post-body p span.note{
  font-weight: 600;
}

.body .post-body .post-date{
  word-spacing: .25em;
  font-size: .9rem;
  margin: 1rem 0;
}

.body .imp{
  margin: 1rem 7rem 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  opacity: .8;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.body.imp p{
  text-align: left;
}
.body .imp a{
  color: #000;
  text-decoration: none;
  font-weight: 500;
  text-align: right;
  font-size: .9rem;
}

.body .post-body .break{
  width: 100%;
  height: 1px;
  background-color: rgb(219, 219, 219);
  margin-bottom: 2.25rem;
}

.body .post-body p.head{
  font-size: 3rem;
  text-align: initial;
  line-height: normal;
  font-weight: 600;
}

.body .post-body span.pic{
  align-self: center;
  width: 100%;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  min-height: 25rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.body .post-body span.pic img{
  width: 100%;
}

.body .post-body .list {
  display: flex;
  padding-left: 3rem;
  align-items: baseline;
  gap: 10px;
}
.body .post-body .list div{
  height: 10px;
  width: 6rem;
  background-color: #004b95;
}

.body .post-body .list:last-child div:last-child{
  height: 10px;
  width: 2rem;
  background-color: #000;
}

.leavecomment{
  margin: -2rem auto 0;
  width: 40rem;
}

.leavecomment .top{
  padding: 2.25rem;
  background-color: #fff;
  text-align: center;
}

.leavecomment .form{
  background-color: rgb(245, 245, 245);
  padding: 2rem 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 0 1rem;
}

.leavecomment .form .title{
  font-size: 1.8rem;
  font-weight: 450;
}

.leavecomment .form textarea{
  width: 85%;
  margin: .5rem 1rem;
  outline: var(--btn);
  padding: 1rem;
  resize: vertical;
  border: 1.5px solid var(--btn);
  color: #000;
}
.leavecomment .form input{
  width: 85%;
  margin: .5rem 1rem;
  outline: var(--btn);
  padding: 1rem;
  resize: vertical;
  border: 1.5px solid var(--btn);
  color: #000;
}

.leavecomment .form .check{
  margin: .5rem 1.25rem;
  font-size: .9rem;
  display: flex;
  align-items: baseline;
}

.leavecomment .form input[type=checkbox]{
  width: fit-content;
  margin: 10px;
}

.leavecomment .form .post-btn{
  padding: 1rem 2rem;
  background-image: var(--btn-grad);
  color: #fff;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: .5rem;
  box-shadow: 0 5px #013569;
}

.leavecomment .form .post-btn:active{
  box-shadow: none;
  margin-top: 5px;
}